@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #09cfe0;
  --color-green: #008e07;
  --color-aqua: #09e0aa;
  --color-orange: #e09109;
  --color-purple: #8709e0;
}
